0// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #41b883;
$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = rgb(253, 126, 20)


$white = #fff
$fontcolor = #5e5e5e
$adminHomeToolbar = #333
@import '~quasar-variables'
